body {
  font-family: Arial, sans-serif;
}
.sidebar {
  background-color: #fff;
  border-right: 1px solid #ddd;
  text-align: center;
}
.sidebar img {
  width: 80px;
  border-radius: 50%;
}
.sidebar .linha-laranja {
  height: 4px;
  background-color: #D97014;
  width: 60%;
  margin: 0 auto 10px;
}
.main-content {
  border: 1px solid #C2BEBE;
  padding: 10px;
}
.publicacao {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}
.publicacao img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
}
.publicacao .icone-svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 5px;
}
.login-area button {
  background-color: #D97014;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}
.footer-custom {
  background-color: #D97014;
  color: white;
  padding: 40px 0;
}
.footer-custom i {
  font-size: 1.3rem;
  color: white;
}
.input-error {
  border: 1px solid red !important;
}
